.text-block,
.numbers__wrapper{
    margin-bottom: 25px;
    border: 1px solid blue;
    padding: 10px;
}
.numbers__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    font-size: 18px;
    color: black;
    background-color: rgb(29, 232, 229);
    border-radius: 10px;
}
.changed{
    color: blue;
}
.img{
    width: 150px;
    height: 150px;
}
.none{
    display: none;
}
.active{
    display: block;
}