.my-bg-main-color{
  background-color: #272B30;
}
.my-header-menu-bg-color{
  background-color: #3A3F44;
}
.my-bg-dark-color{
  background-color: #272B30;
}
.external_advertising{
  background-color: azure;
}