@use "./mixins" as *;
@use "./vars" as *;

body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: 481px){
        font-size: 21px;
        line-height: 32px;
    }
}
//    загальний для всього контенту сторінки
.container{
    padding: 0 10px;
    margin: 0 auto;
    min-width: 320px;

    @media (min-width: 993px){
        max-width: 1200px;
    }
}
//    загальний для всіх зображень
.img{
    display: block;
}
//    загальний клас для всіх кнопок в проекті (з ефектом наведення)
.btn{
    border-radius: 40px;
    background-color: #8D81AC;
    color: #FFFFFF;
    border: 2px solid #8D81AC;
    @include monserat(bold);
    text-transform: capitalize;

    &:hover{
        background-color: #FFFFFF;
        border: 2px solid #8D81AC;
        color: #8D81AC;
    }
}
//    клас--модифікатор для кнопок нижньої секції (з ефектом наведення)
.btn--transparent{
    background-color: rgba(255, 255, 255, 0.15);
    @include monserat(normal);
    text-transform: uppercase;
    border: none;

    &:hover{
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        color: $white;
    }
}
//    клас для всіх заголовків на сторінці (мають один шрифт, товщину)
//    !!! font-size/line-height вказувати з макету
.title{
    @include monserat(700);
}
//    модифікатор для заголовків: header/testimonials/pricing
.title--white{
    color: #FFFFFF;
}
//    модифікатор для заголовку: features
.title--purple{
    color: #8D81AC;
}