@use "../scss/mixins" as *;
@use "../scss/vars" as *;

.header {
  background-image: url(../img/headerbg-little.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 481px) {
    background-image: url(../img/headerbg-middle.jpg);
    background-position: center 0;
  }
  @media (min-width: 993px) {
    background-image: url(../img/headerbg-large.jpg);
    background-position: center;
  }
}

.header__top {
  background-color: #27262a;

  @media (min-width: 993px) {
    background-color: transparent;
  }

  .container {
    @include display(flex, space-between, center);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: 481px) {
      padding-bottom: 60px;
    }
    @media (min-width: 993px) {
      padding-bottom: 30px;
      justify-content: flex-end;
    }
  }
}
.logo {
  @media (min-width: 481px) {
    @include display;
    gap: 15px;
  }
  @media (min-width: 993px) {
    gap: 20px;
    justify-self: start;
  }
}
.logo__img {
  width: 45px;
  height: 45px;
}
.logo__text {
  display: none;

  &:hover {
    color: $white;
  }

  @media (min-width: 481px) {
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8d81ac;
  }
}

.navbar {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333333;
  width: calc(100% - 20px);

  @media (min-width: 481px) {
    @include display;
    background-color: inherit;
    top: 50%;
  }
  @media (min-width: 993px) {
    position: static;
    @include display(flex, end, center);
    margin-right: 40px;
  }
}
.nav__list {
  @media (min-width: 481px) {
    @include display(flex, space-between, center);
  }
  @media (min-width: 993px) {
    @include display(flex, space-between, center);
    width: 530px;
  }
}
.list__item {
  @include monserat(400);
  font-size: 26px;
  line-height: 26px;
  padding: 25px 0 25px 40px;
  color: #ffffff;
  text-transform: capitalize;
  list-style: none;
  border-bottom: 3px solid #3b3b3b;

  @media (max-width: 481px) {
    &:hover {
      color: #8d81ac;
      border-left: 10px solid #8d81ac;
      padding-left: 30px;
    }
  }

  @media (min-width: 481px) {
    &:first-child {
      padding-left: 0;
    }
    @include monserat(bold);
    color: #8d81ac;
    border: none;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      color: $white;
    }
  }
  @media (min-width: 552px) {
    @include monserat(bold);
    font-size: 16px;
    line-height: 18px;
  }
}
.header__btn {
  padding: 11px;
  font-size: 15px;
  line-height: 15px;

  @media (min-width: 481px) {
    font-size: 16px;
    line-height: 16px;
    padding: 11px 25px;
    white-space: nowrap;
  }
}
.burger-btn {
  border: none;
  background-color: inherit;

  @media (min-width: 481px) {
    display: none;
  }
}
.btn--open,
.btn--close {
  @include display;
}
.btn--open {
  gap: 6px;
  flex-direction: column;

  & .img:first-child {
    align-self: end;
  }
}
.btn--close {
  display: none;
}

.header__title {
  margin-top: 50px;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  text-transform: capitalize;

  @media (min-width: 481px) {
    margin-top: 70px;
    font-size: 72px;
    line-height: 72px;
  }
  @media (min-width: 993px) {
    margin-top: 85px;
    font-size: 82px;
    line-height: 82px;
  }
}
.header__prev {
  margin: 20px auto 0;
  text-align: center;
  @include monserat(normal);
  color: #8d81ac;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;

  @media (min-width: 481px) {
    @include lato(normal);
    font-size: 24px;
    line-height: 24px;
    width: 100%;
  }
  @media (min-width: 993px) {
    font-size: 30px;
    line-height: 30px;
  }
}
.descr {
  margin-top: 15px;
  margin-bottom: 415px;
  text-align: center;
  @include monserat(normal);
  color: #848e97;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: 481px) {
    margin-top: 20px;
    margin-bottom: 470px;
  }
  @media (min-width: 993px) {
    font-size: 16px;
    line-height: 16px;
  }
}
.download {
  @include display;
  flex-direction: column;
  transform: translateY(70%);
}
.download__btn {
  padding: 15px 30px;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: 481px) {
    padding: 25px 60px;
    font-size: 21px;
    line-height: 23px;
  }
}
.download__offer {
  margin-top: 10px;
  @include monserat(normal);
  font-size: 14px;
  line-height: 14px;
  color: #848e97;

  @media (min-width: 481px) {
    margin-top: 20px;
    font-size: 14px;
    line-height: 16px;
  }
}
