* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-size: 18px;
    background-color: #66deb2;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    max-width: 75%; 
}
.form {
    background: #fff;
    padding: 10px;
}

.form__input {
}

.form__btn {
    background: #0be69d; 
    border: none;
    cursor: pointer;
    width: 100px;
}
.todo-item {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.todo-item--checked {
    text-decoration: line-through;
    opacity: 0.7;
}

.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
    cursor: pointer;
}

.todo-item__delete {
    background: #0be69d;
    color: white;
    border: none;
    cursor: pointer;
    width: 95px;
    padding: 10px;
    border-radius: 0.25rem;
}
.todo-item input[type="checkbox"] {
    margin-right: 10px;
}